<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <button type="button" class="btn btn-default navbar-btn">Sign in</button>
  </div>
</nav>

<div id="welcome" class="jumbotron">
  <h1 class="text-center">Allan's Workshop</h1>
  <p class="text-center">A place for fun electronics and software projects</p>
</div>